{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <div class="row">
        {% if facilities %}
            <h1 class="mx-auto">Found {{facilities | length}} facilities</h1>
        {% else %}
            <h1>Found 0 items for the search term {{message}}</h1>
        {% endif %}
    </div>

    {% for facility in facilities %}
        <div class="row">
            <h5 class="mx-auto"><a href="#">{{facility.facility_name}}</a></h5>
        </div>
    {% endfor %}
</div>
{% endblock %}